.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 25%;
    background-color: rgb(247, 247, 247);
    padding: 25px;
}

.item a {
    font-size: 25px;
    color: rgb(26, 26, 26);
    text-decoration: none;
}

.item a.active {
    color: #61dafb;
    font-weight: bold;
}
.item a:hover {
    color: #61dafb;
    font-weight: bold;
}