.descriptionBlock {
    padding: 20px;
}

.descriptionBlock img {
    width: 200px;
    border-radius: 15px;
}
.name {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.customFileUpload {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}